@model BookmarksViewModel
@{
	ViewData["Title"] = "Закладки";
}
<div class="row">
	@{
		await Html.RenderPartialAsync("_manageNav");
	}
	<div class="col-10">
		@foreach (var bookmark in Model.Bookmarks)
		{
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">@bookmark.Title</h5>
					<p class="card-text">@bookmark.Description</p>
					<a asp-controller="Reader"
						asp-action="View" 
						asp-route-id="@bookmark.LiteratureId" 
						asp-route-page="@bookmark.PageNumber"
						class="btn btn-outline-primary">Перейти</a>
					<a class="btn btn-outline-danger" href="#">Удалить</a>
				</div>
			</div>
		}
	</div>
</div>
<div class="d-flex mb-3 justify-content-center">
	<div page-model="@Model.PagingInfo" page-action="Bookmarks" page-query="@Context.Request.Query"
		 page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
		 page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
</div>

<script type="text/javascript">
	$('#navBookmarks').addClass('active');
</script>