@model LiteratureCardViewModel

<h3 class="title">@Model.Caption</h3>
<div>
	<p class="article_txt" align="left"><b>Авторы:</b> @Model.Authors</p>
	<p class="article_txt" align="left"><b>Издательство:</b> @Model.Publisher</p>
	<p class="article_txt" align="left"><b>Год издания:</b> @Model.PublishYear</p>
	<p class="article_txt" align="left"><b>ISBN:</b> @Model.Isbn</p>
	<p class="article_txt" align="left"><b>Количество страниц:</b> @Model.PageCount</p>
	<p class="article_txt" align="left"><b>Аннотация:</b> @Model.Abstract</p>
</div>
