@model UsersIndexViewModel
@{
	ViewData["Title"] = "Пользователи - Админ";
}

<h1 class="title">Пользователи</h1>
<form asp-action="Index" method="get">
	<div class="input-group mb-3">
		<input type="text" name="f" value="@ViewData["Filter"]" placeholder="ID, имя пользователя или e-mail" class="form-control" />
		<input type="submit" class="btn btn-primary" value="Фильтр" />
	</div>
</form>
<table class="table table-sm table-striped table-bordered" width="100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Имя</th>
			<th>E-mail</th>
			<th>Действия</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Users.Any())
		{
			@foreach (var user in Model.Users)
			{
				<tr>
					<td width="400">@user.Id</td>
					<td width="150">@user.UserName</td>
					<td width="200">@user.Email</td>
					<td class="alignment">
						<div class="d-grid gap-1 mx-auto">
							<a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info btn-sm table_button">
								Подробнее
							</a>
							<a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm table_button">
								Заблокировать
							</a>
						</div>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="4" class="text-center">Не найдено</td>
			</tr>
		}
	</tbody>
</table>
<div class="d-flex mb-3 justify-content-center">
	<div page-model="@Model.PagingInfo" page-action="Index" page-query="@Context.Request.Query"
		 page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
		 page-class-selected="btn-primary" class="btn-group m-1"></div>
</div>
